absl-py
astor
bleach
certifi
chardet
click
DateTime
Django
Flask
flickrapi
futures
gast
grpcio
hanziconv
html5lib
idna
image
itsdangerous
Jinja2
joblib
libtiff
Markdown
MarkupSafe
mecab-python3
numpy
oauthlib
opencv-python
Pillow
pip
pprint
protobuf
PySocks
pytz
PyYAML
requests
requests-oauthlib
requests-toolbelt
setuptools
six
tensorboard
tensorflow
tensorflow-tensorboard
termcolor
tweepy
urllib3
webencodings
Werkzeug
wheel
zope.interface